
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


$font-family-base: "ClashDisplay", sans-serif;
$headings-font-family: "ClashDisplay", sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";


@import "custom";

body {
    font-family: "ClashDisplay", sans-serif;
    background-color: $primary-color;
    color: #fff;
}
